
.footer{
    
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-item{
    margin: 0 10px;
}
